@import "mixins.scss";


header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    height: 60px;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 10px;
    color: white;
}

.left {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    height: 44px;
    cursor: pointer;
}

.region {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.1s;
    position: relative;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.globe {
    height: 22px;
}

.arrow {
    height: 7px;
    margin-top: 3px;
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

li {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    cursor: pointer;
    transition: all 0.1s;

    &.active {
        // text-shadow: 0 0 0 currentColor;
        border-bottom-color: var(--blue);
    }

    &:hover {
        color: var(--blue-light);
    }
}

.divider {
    height: 26px;
    border-left: 1px solid #FFFFFF4D
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}