<section class="section-1">
    <div class="background">
        <img class="cloud" src="assets/knowledgebase/cloud.png" alt="">
    </div>

    <div class="content">
        <div class="text">
            <h4 class="sbold">Pillar 1</h4>
            <p class="f32 sbold">Personal Growth & Mindset</p>
            <p class="f32 uc blue sbold">BASIC</p>
        </div>
        <img src="assets/knowledgebase/book.png" alt="">
    </div>
</section>

<section class="section-2">
    <div class="blue-box">
        <p class="f50 sbold">All Trainings</p>
        <div class="cards">
            <div class="card">
                <div class="number f18 sbold">01</div>
                <img src="assets/knowledgebase/lesson.png" alt="">
                <div class="card-content">
                    <p class="mbold">Why are YOU your most <br> important resource?</p>
                    <button class="btn-dark-blue xs" [routerLink]="['trainings/1']">start lesson</button>
                </div>
            </div>
            <div class="card disabled">
                <div class="number f18 sbold">02</div>
                <img src="assets/knowledgebase/lesson.png" alt="">
                <div class="card-content">
                    <p class="mbold">Taking Responsibility <br>
                        for Your Own Life</p>
                    <button class="btn-dark-blue xs">start lesson</button>
                </div>
            </div>
            <div class="card disabled">
                <div class="number f18 sbold">03</div>
                <img src="assets/knowledgebase/lesson.png" alt="">
                <div class="card-content">
                    <p class="mbold">How to Set Realistic, <br>
                        Motivating Goals?</p>
                    <button class="btn-dark-blue xs">start lesson</button>
                </div>
            </div>
            <div class="card disabled">
                <div class="number f18 sbold">04</div>
                <img src="assets/knowledgebase/lesson.png" alt="">
                <div class="card-content">
                    <p class="mbold">Developing a Learning Routine <br> and Maintaining Discipline</p>
                    <button class="btn-dark-blue xs">start lesson</button>
                </div>
            </div>
            <div class="card disabled">
                <div class="number f18 sbold">05</div>
                <img src="assets/knowledgebase/lesson.png" alt="">
                <div class="card-content">
                    <p class="mbold">Consistent Work Regardless of <br> Immediate Results</p>
                    <button class="btn-dark-blue xs">start lesson</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <h6 class="sbold">Essential Resources for Your Training</h6>
    
    <div class="cards">
        <div class="s3-card scroll-hidden">
            <div class="top">
                <img src="assets/icons/presentation.svg" alt="">
            </div>
            <div class="bottom">
                <p class="f24 center sbold">
                    Presentations
                </p>
            </div>
        </div>
        <div class="s3-card scroll-hidden d01">
            <div class="top">
                <img src="assets/icons/audio.svg" alt="">
            </div>
            <div class="bottom">
                <p class="f24 center sbold">
                    Audio Trainings
                </p>
            </div>
        </div>
        <div class="s3-card scroll-hidden d02">
            <div class="top">
                <img src="assets/icons/video.svg" alt="">
            </div>
            <div class="bottom">
                <p class="f24 center sbold">
                    Video Tools
                </p>
            </div>
        </div>
        <div class="s3-card scroll-hidden d03">
            <div class="top">
                <img src="assets/icons/training.svg" alt="">
            </div>
            <div class="bottom">
                <p class="f24 center sbold">
                    Training Materials
                </p>
            </div>
        </div>
    </div>
</section>