@import "mixins.scss";


.section-1 {
    height: 70vh;
    min-height: 550px;
    background: linear-gradient(210deg, #13AFB6 0%, rgba(217, 217, 217, 0) 52%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px;

    p {
        margin-top: 80px;
    }
}

.section-2 {
    height: 80vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section-3 {
    width: 100%;
    max-height: 600px;
    aspect-ratio: 1680 / 600; 
    background: radial-gradient(61.12% 144.26% at 50% 56.92%, #13AFB6 27.91%, #03659C 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    img {
        position: absolute;
        bottom: 0;
        width: 50%;
        max-width: 845px;
    }
}

.section-4 {
    min-height: 550px;
    height: calc(100vh - 280px);
    max-height: 800px;
    padding: 64px;
    background: linear-gradient(90deg, #505D65 20.43%, #000000 100%);
    
    display: flex;
    justify-content: center;

    .cards {
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto; 
        gap: 64px;
    }

    .s4-card {
        width: 100%;
        // height: 220px;
        border-radius: 13px;
        background: rgba(156, 175, 186, 0.3);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        overflow: hidden;
        transition: all 0.1s;
        box-shadow: 0px 0px 0px 0px #0596AE66;
        pointer-events: none;

        p {
            opacity: 50%;
            // width: 325px;
        }

        .icon {
            max-height: 64px;
            opacity: 50%;
        }

        .lock {
            width: 20px;
            position: absolute;
            top: 16px;
            right: 16px;
            opacity: 20%;
        }

        .number {
            width: 46px;
            height: 34px;
            position: absolute;
            right: 0;
            padding-right: 7px;
            padding-bottom: 2px;
            background-color: #A0A4A7;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: var(--gray);
        }

        .badge {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }

        &.available {
            background: linear-gradient(98.32deg, #13AFB6 20.43%, #03659C 100%);
            pointer-events: initial;

            p {
                opacity: 100%;
            }
    
            .icon {
                opacity: 100%;
            }
    
            .lock {
                display: none;
            }
    
            .number {
                background-color: var(--blue);
                color: white;
            }
    
            .badge {
                display: block;
            }

            &:hover {
                cursor: pointer;
                transform: translate(4px, -4px);
                box-shadow: -4px 4px 10px 0px #0596AE66;

            }
        }
    }
}

.section-5 {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all 0.2s 0.2s, opacity 0.2s 0s;
    scroll-margin-top: 60px;
    
    &.show {
        padding: 64px;
        // max-height: 1066px;
        // max-height: 1642px;
        max-height: 2218px;
        opacity: 1;
        transition: all 0.2s 0s, opacity 0.2s 0.2s;
    }

    .dropdown {
        width: 100%;
        max-width: 1200px;
        height: 104px;
        // border-radius: 13px;
        color: white;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0 24px 4px 32px;
        position: relative;
        cursor: pointer;
        transition: all 0.1s;
        scroll-margin-top: 70px;

        h5 {
            position: relative;
            top: -4px;
        }

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
        }

        .icon {
            width: 40px;
            margin-left: auto;
        }

        &.inactive {
            pointer-events: none;
            
            h5, p, .icon {
                opacity: 50%;
            }
        }
    }

    .dropdown-box {
        width: 100%;
        max-width: 1200px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        border-radius: 16px;
        background: linear-gradient(95.93deg, #F1F1F2 0%, #EAFBFB 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s 0.2s, opacity 0.2s 0s;

        &.open {
            height: 476px;
            padding: 0px 67px 0 0;
            margin: 50px 0;
            opacity: 1;
            transition: all 0.2s 0s, opacity 0.2s 0.2s;
        }
    }

    .text {
        width: calc(50% - 33px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .difficulty-description {
        line-height: 1.5;
    }
}