@import "mixins.scss";


.loader-wrapper {
    width: 100%;
    height: 100%;
    // min-height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &.fullscreen {
        height: calc(100vh - 280px);
        
        .nb-spinner {

        }
    }
    // .nb-spinner {
    //     width: 100px;
    //     height: 100px;
    //     border-width: 5px;
    // }

    // @include MobileView {
    //     min-height: 450px;
    // }
}

.nb-spinner {
    width: 20px;
    height: 20px;
    margin: 0;
    background: transparent;
    border-top: 2px solid var(--blue);
    border-right: 2px solid transparent;
    border-radius: 50%;
    -webkit-animation: 0.8s spin linear infinite;
    animation: 0.8s spin linear infinite;
}


@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinBack {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}