@import "mixins.scss";


.section-1 {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
    padding-top: 80px;
    overflow: hidden;

    p {
        line-height: 1.5;
    }

    .content {
        max-width: 1000px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 30px;
        z-index: 1;
        padding-bottom: 40px;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background: linear-gradient(193deg, #13aeb6b5 0%, rgba(217, 217, 217, 0) 40%);
    }

    .cloud {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -73%);
        z-index: 0;
        mix-blend-mode: screen;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .path {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            height: 10px;
            position: relative;
            top: 1px;
        }
    }

    .link {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .quiz-box {
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(95.93deg, #F1F1F2 0%, #EAFBFB 100%);
        // background: #2a2a2a;
        padding: 30px 40px 0 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        overflow: hidden;
    }

    .row {
        display: flex;
        align-items: center;
        gap: 4px;

        .spacer {
            margin-right: auto;
        }

        p {
            padding-bottom: 2px;
        }
    }

    .number {
        width: 36px;
        height: 26px;
        padding-left: 7px;
        padding-bottom: 2px;
        background-color: var(--blue);
        clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
        display: flex;
        align-items: center;
        color: white;
        transition: all 0.1s;

        &.l {
            width: 46px;
            height: 34px;
        }

        &.inactive {
            background-color: #505D6580;
            color: #FFFFFF80;
        }
    }

    .progress-bar {
        width: 100%;
        height: 8px;
        border-radius: 8px;
        background: #505D654D;
        position: relative;
    }

    .line {
        width: 20%;
        height: 8px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--blue);
        border-radius: 8px;
        transition: all 0.1s;
    }

    .question-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        min-height: 342px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 130px;
    }
    
    .question-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .answers {
        width: 92%;
        border-radius: 20px;
        background-color: white;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .checkbox-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }

    .span-result {
        position: relative;
        bottom: 1px;
    }

    .display-only {
        pointer-events: none;
    }

    .bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 90px;
        background: linear-gradient(98.32deg, #13AFB6 1.76%, #505D65 81.34%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .result {
        width: 100%;
        border-radius: 20px;
        background: linear-gradient(98.32deg, #13AFB6 1.76%, #505D65 81.34%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 80px;
        
        p {
            color: white;
            text-align: center;
        }

        &.fail {
            background: linear-gradient(98.32deg, #000000 1.76%, #505D65 81.34%);

            button {
                color: #31393e;
            }
        }
    }

    .certificate {
        min-width: 664px;
    }

    .icon {
        width: 88px;
    }
}