<div *ngIf="error$ | async as error" class="loader-container">
    <pre>{{ error | json }}</pre>
</div>

<section class="section-1">
    <div class="subpage-background">
        <img class="subpage-cloud" src="assets/knowledgebase/cloud.png" alt="">
    </div>

    <!-- // fix extra padding caused by duplicating content container  -->
    <div class="content">
        <div class="nav">
            <div class="path">
                <p class="f18 link" [routerLink]="['/home']">Home</p>
                <img src="assets/icons/arrow-r.svg" alt="">
                <p class="f18 link" [routerLink]="['/knowledgebase']">Knowledgebase</p>
                <img src="assets/icons/arrow-r.svg" alt="">
                <p class="f18 sbold">Why are YOU your most important resource?</p>
            </div>
            <div class="path">
                <img src="assets/icons/arrow-l.svg" alt="">
                <p class="f18 sbold link" [routerLink]="['../']">Back</p>
            </div>
        </div>
    </div>
    <div class="content">

        
        <!-- <h6 class="sbold"><span class="blue">Lesson {{ (training$ | async)?.order }}:</span> {{ (training$ | async)?.title }}</h6>
        <p>
            The Fireflies business doesn’t start with whether you have a good product or how many acquaintances 
            you have — it starts with who YOU are.
            Your most important resource in this business is not money, not connections, and not even
            time. It’s YOU: your mindset, your habits, your decisions, and your attitude.
        </p>
        <img class="image-large" src="assets/knowledgebase/lesson-l.png" alt="">

        <div class="title">
            <p class="f28 number sbold">01</p>
            <p class="f32 mbold blue">You are the engine of your own business</p>
        </div>
        <p>
            The Fireflies business is an opportunity. A kind of engine that only starts if YOU ignite it. 
            A business cannot be successful on the outside if you are not ready on the inside. That’s why
            self-development is not optional, but essential.
            Stop procrastinating immediately! Make it a habit to review at the end of each day whether you
            completed all your tasks and left nothing pending. Also separate the difference between simply
            not having time for something that would have moved you closer to your goal, and consciously
            procrastinating.
        </p>
        <p class="f24 mbold">Think of yourself as a business owner:</p>
        <ul>
            <li><span class="blue">&bull;</span> <span class="mbold">You decide</span> when you work on it.</li>
            <li><span class="blue">&bull;</span> <span class="mbold">You decide</span> how seriously you take it.</li>
            <li><span class="blue">&bull;</span> <span class="mbold">You decide</span> how much you stick to your own plans.</li>
        </ul>
        <div class="blue-box">
            <p class="blue"><span class="mbold">Tip:</span> If you work on yourself every day (mentally, professionally, in relationships), it will pay off
                with compound interest.
                A habit you build today can bring results for years.</p>
        </div>
        <div class="divider"></div>
        

        <div class="title">
            <p class="f28 number sbold">02</p>
            <p class="f32 mbold blue">What happens if you are not in focus?</p>
        </div>
        <p class="f24 mbold">If you don’t continuously develop yourself:</p>
        <ul>
            <li><span class="blue">&bull;</span> You rely on others for inspiration.</li>
            <li><span class="blue">&bull;</span> You lose control of your time.</li>
            <li><span class="blue">&bull;</span> You get distracted easily.</li>
            <li><span class="blue">&bull;</span> You start doubting whether “this is even for you.</li>
        </ul>
        <div class="blue-box">
            <p class="blue"><span class="mbold">The truth:</span> This business is for anyone who is <span class="mbold">willing to work on themselves.</span></p>
        </div>
        <div class="divider"></div>
        

        <div class="title">
            <p class="f28 number sbold">03</p>
            <p class="f32 mbold blue">Three questions to always keep in mind</p>
        </div>
        <div class="text-wrapper">
            <div>
                <p class="mbold">1. Why am I doing this business?</p>
                <p>Money? Freedom? Growth? Write it down and never forget it!</p>
            </div>
            <div>
                <p class="mbold">2. Which habits help me, and which ones hold me back?</p>
                <p>Be completely honest with yourself!</p>
            </div>
            <div>
                <p class="mbold">3. What example do I want to set for my team?</p>
                <p>Your team won’t do what you say, but what they see from you.</p>
            </div>
        </div>
        <div class="divider"></div>
        

        <div class="title">
            <p class="f28 number sbold">04</p>
            <p class="f32 mbold blue">Common excuse: “But I’m not good at this…”</p>
        </div>
        <p class="f24 mbold">Many say:</p>
        <ul>
            <li><span class="blue">&bull;</span> “I’m not a good salesperson.”</li>
            <li><span class="blue">&bull;</span> “I don’t know how to talk to people.”</li>
        </ul>
        <div class="blue-box">
            <p class="blue">The good news: you don’t have to be. Only one thing is needed: <span class="mbold">become teachable!</span></p>
        </div>
        <p>No one is born a ready entrepreneur. Success is the result of <span class="mbold">learning + practice + growth from mistakes.</span></p>
        <div class="divider"></div>
        

        <div class="title">
            <p class="f28 number sbold">05</p>
            <p class="f32 mbold blue">You as a business success factor</p>
        </div>
        <p class="f24 mbold">You + Habit + Focus + Growth = Success</p>
        <ul>
            <li><span class="blue">&bull;</span><span class="mbold">You:</span> Are you committed and willing to sacrifice for your goals?
            </li>
            <li><span class="blue">&bull;</span><span class="mbold">Habit:</span> Do you have a daily/weekly plan you follow with discipline and persistence?</li>
            <li><span class="blue">&bull;</span><span class="mbold">Focus:</span> Do you know why you’re doing this, and are you ready to continuously work for
                it?</li>
            <li><span class="blue">&bull;</span><span class="mbold">Growth:</span> Do you seek new solutions and are you willing to learn and change?</li>
        </ul>
        <div class="blue-box">
            <p class="blue">If the answer is “yes” to all, and you’re not afraid to work, <span class="mbold">no one can stop you.</span></p>
        </div>
        <div class="divider"></div>
        

        <h6 class="sbold">Practical example</h6>
        <p class="dark-border">
            A new Fireflies member who spends 30 minutes a day learning, talks to 5 new people a week, and reviews their goals every month can build a network in half a year that produces results on
            its own — but only because they started working on themselves (the first circle is
            yourself).
        </p>
        <div class="divider"></div>
        

        <div>
            <p class="f32 mbold blue">Task - Create your own value map</p>
            <p class="f32"><span class="mbold">Goal: </span> to recognize which inner values and habits you can build on.</p>
        </div>
        <p class="f24 mbold">1. Answer in writing:</p>
        <ul>
            <li><span class="blue">&bull;</span> Why did you choose Fireflies?</li>
            <li><span class="blue">&bull;</span> What strengths help you?</li>
            <li><span class="blue">&bull;</span> Which habits do you need to change?</li>
            <li><span class="blue">&bull;</span> If you became a successful leader in 2 years — what would change in your living
                conditions and daily life?
            </li>
        </ul>
        <p class="f24 mbold">2. <span class="bold">Formulate your <span class="blue">inner motivation in one sentence:</span></span></p>
        <ul>
            <li><span class="blue">&bull;</span> “I work every day because…”</li>
            <li><span class="blue">&bull;</span> Write this on a note and put it next to your workplace or laptop. This will be your goal.</li>
        </ul>
        <div class="divider"></div>
        

        <p class="f32 mbold blue">Action plan</p>
        <div class="blue-box">
            <p class="blue">For the next 7 days, spend at least 30 minutes every day on self-development (book, training, video).</p>
        </div>
        <div class="blue-box">
            <p class="blue">Join at least 1 online group where successful Fireflies networkers share experiences.
            </p>
        </div>
        <div class="blue-box">
            <p class="blue">Come up with one new positive habit that you will start this week and make sure to keep it for at least 30 days.</p>
        </div> -->
    </div>
</section>

<section class="section-2">
    <button class="btn-white" [routerLink]="['quiz']" [disabled]="!(training$ | async)?.userProgress?.allowQuiz">
        <ng-container *ngIf="(training$ | async)?.userProgress?.allowQuiz">
            <img src="assets/icons/button-arrow.svg" alt="">
            <p>start quiz</p>
        </ng-container>
        <p *ngIf="!(training$ | async)?.userProgress?.allowQuiz && !(training$ | async)?.userProgress?.retryAvailableAt">quiz already completed</p>
        <p *ngIf="!(training$ | async)?.userProgress?.allowQuiz && (training$ | async)?.userProgress?.retryAvailableAt">
            you can retry quiz in:
            
            <ng-container *ngIf="(training$ | async)?.userProgress.retryAvailableAt as date">
                <ng-container *ngIf="(date | countdown | async) as t">
                    <span *ngIf="t.totalMs > 0; else retryNow">
                        {{ t.days }}d {{ t.hours }}h {{ t.minutes }}m {{ t.seconds }}s
                    </span>
                </ng-container>
                <ng-template #retryNow>
                    <span>Retry available!</span>
                </ng-template>
            </ng-container>
            
        </p>
    </button>
</section>

<ng-container *ngIf="(nextTrainings$ | async) as next">
    <section class="section-3" *ngIf="next.length > 0">
        <p class="f50 sbold title">Next Lessons</p>
        <p class="f21">(ennek itt biztos hogy van ertelme tekintve hogy nem mehetnek tovabb?)</p>
        <div class="cards">
            <div class="card disabled" *ngFor="let training of (nextTrainings$ | async)">
                <div class="number f18 sbold">0{{ training.order }}</div>
                <img src="assets/knowledgebase/lesson.png" alt="">
                <div class="card-content">
                    <p class="mbold">{{ training.title }}</p>
                    <button class="btn-dark-blue xs" [routerLink]="['trainings', training._id]">start lesson</button>
                </div>
            </div>
        </div>
    </section>
</ng-container>