<footer>
    <div class="footer-content">
        <div class="socials">
            <img class="logo" src="assets/logo/logo-footer.svg" alt="" [routerLink]="['/home']">
          
            <a href="https://t.me/firefliesweb3" target="_blank" rel="noreferrer">
              <img src="assets/icons/socials/telegram.svg" alt="Telegram">
            </a>
          
            <a href="https://www.instagram.com/fireflies_official" target="_blank" rel="noreferrer">
              <img src="assets/icons/socials/instagram.svg" alt="Instagram">
            </a>
          
            <a href="https://x.com/firefliesen" target="_blank" rel="noreferrer">
              <img src="assets/icons/socials/twitter.svg" alt="Twitter / X">
            </a>
          
            <a href="https://www.youtube.com/@FirefliesOfficialChannel" target="_blank" rel="noreferrer">
              <img src="assets/icons/socials/youtube.svg" alt="YouTube">
            </a>
          
            <a href="https://www.facebook.com/travelenlightened" target="_blank" rel="noreferrer">
              <img src="assets/icons/socials/facebook.svg" alt="Facebook">
            </a>
          
            <a href="https://www.tiktok.com/@fireflies_official" target="_blank" rel="noreferrer">
              <img src="assets/icons/socials/tiktok.svg" alt="TikTok">
            </a>
        </div>
        <div class="mail">
            <a href="https://fireflies.com/" target="_blank" rel="noreferrer">
                <p class="f20 sbold">
                    <img src="assets/icons/globe.svg" alt="">
                    fireflies.com
                </p>
            </a>
            
            <a href="mailto:info@fireflies.com" target="_blank" rel="noreferrer">
                <p class="f20 sbold">
                    <img src="assets/icons/mail.svg" alt="">
                    info&#64;fireflies.com
                </p>
            </a>
        </div>
    </div>
</footer>