<div class="login">
    <div class="content">
        <img class="login-logo" src="assets/login/login.svg" alt="">
        <form #formRef="ngForm" class="form">

            <div class="label">
                <p class="lbold">Email address</p>
            </div>
            <div class="input-wrapper">
                <input class="input" type="email" [(ngModel)]="formData.email" name="email" required email #email="ngModel" pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$">
                <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <p class="f18" *ngIf="email.errors?.['required']">
                        Email is required.
                    </p>
                    <p class="f18" *ngIf="email.errors?.['email'] || email.errors?.['pattern']">
                        Please enter a valid email address.
                    </p>
                </div>
            </div>

            <div class="label">
                <p class="lbold">Password</p>
                <p class="f14">Forgot password</p>
            </div>
            <div class="input-wrapper">
                <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="formData.password"  id="" class="input" required #password="ngModel">
                <img class="input-icon" src="assets/login/visibility.svg" alt="" (click)="showPassword = !showPassword">
                <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p class="f18" *ngIf="password.errors?.['required']">
                        Password is required.
                    </p>
                </div>
            </div>

            <div class="checkbox-wrapper">
                <!-- TODO turn bak -->
                <!-- <div class="checkbox"></div> -->
                <!-- <p class="f14">Remember me</p> -->
            </div>
            
            <div class="input-wrapper">
                <button class="btn-dark-blue" [disabled]="formRef.invalid" (click)="login()" *ngIf="!(loading$ | async)">
                    Log in
                </button>
                <button class="btn-dark-blue disabled" (click)="login()" *ngIf="(loading$ | async)">
                    Logging in...
                    <loader color="white" [size]="20"></loader>
                </button>
                <div class="error" *ngIf="loginError">
                    <p class="f18">
                        {{ loginError }}
                    </p>
                </div>
            </div>
            
        </form>
    </div>

    <div class="footer">
        <img class="logo" src="assets/logo/logo-text.svg" alt="">
        <p class="f16 lbold">General Business Terms and Conditions</p>
        <div class="divider"></div>
        <p class="f16 lbold">Privacy Policy</p>
        <div class="divider"></div>
        <p class="f16 lbold">Cookie</p>
    </div>
</div>