@import "mixins.scss";


.login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(95.93deg, #F1F1F2 0%, #DBFDFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 100px 0;
    position: relative;
}

.login-logo {
    width: 490px;
}

.form {
    width: 425px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        height: 40px;
        font-size: var(--font-21);
    }
}

.label {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 10px 12px 0px #03659C33;
    padding-left: 12px;
    font-family: inherit;
    color: var(--gray);
    font-size: var(--font-18);
    
    &:focus {
        color: var(--gray);
    }
}

.input-wrapper {
    position: relative;
}

.input-icon {
    width: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px auto;
}

.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 5px 8px 0px #03659C33;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(98.32deg, #505D65 20.43%, #000000 100%);
    display: flex;
    align-items: center;
    gap: 16px;
    color: rgba(255, 255, 255, 0.728);
    padding: 0 60px;
}

.logo {
    margin-right: auto;
    width: 100px;
}

.divider {
    height: 32px;
    border-left: 1px solid #ffffff21;
}