@import "mixins.scss";


.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
    padding-top: 80px;
    overflow: hidden;

    p {
        line-height: 1.5;
    }

    .content {
        max-width: 1000px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 30px;
        z-index: 1;
        padding-bottom: 40px;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background: linear-gradient(193deg, #13aeb6b5 0%, rgba(217, 217, 217, 0) 40%);
    }

    .cloud {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -73%);
        z-index: 0;
        mix-blend-mode: screen;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .path {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            height: 10px;
            position: relative;
            top: 1px;
        }
    }

    .link {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .image-large {
        width: 100%;
        max-width: 1000px;
        border-radius: 15px;
        overflow: hidden;
    }

    .title {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .number {
        width: 46px;
        height: 34px;
        padding-left: 7px;
        padding-bottom: 2px;
        background-color: var(--blue);
        clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
        display: flex;
        align-items: center;
        color: white;
    }

    ul {
        padding-left: 70px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        span.blue {
            margin-right: 20px;
        }
    }

    .blue-box {
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(95.93deg, #F1F1F2 0%, #DBEFF0 100%);
        padding: 12px 16px;
    }

    .divider {
        width: 100%;
        border-bottom: 1px solid #0596AE33;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .dark-border {
        border: 2px solid #505D65;
        border-radius: 10px;
        padding: 8px 20px;
    }
}

.section-2 {
    width: 100%;
    height: 140px;
    background: linear-gradient(98.32deg, #13AFB6 1.76%, #505D65 81.34%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 {
    height: calc(100vh - 280px);
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    justify-content: center;
    background: linear-gradient(160deg, #000000 1.76%, #3c454a 91.34%);
    padding: 40px 0 80px 0;

    .title {
        color: white;
    }
    
    .cards {
        width: 90%;
        max-width: 1000px;
        display: flex;
        gap: 60px;
    }

    .card {
        width: 100%;
        height: 340px;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 50px 0px #0000001A;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;

        img {
            width: 100%;
            height: 57%;
            min-height: 57%;
            object-fit: cover;
        }
    }

    .number {
        width: 36px;
        height: 28px;
        position: absolute;
        left: 0;
        top: 24px;
        padding-left: 4px;
        padding-bottom: 2px;
        background-color: var(--blue);
        clip-path: polygon(0% 0%, 75% 0, 100% 50%, 75% 100%, 0% 100%);
        display: flex;
        align-items: center;
        color: white;
    }

    .card-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 24px;
    }
}