
.locked-screen {
    position: relative;
    overflow: hidden;
}

.content {
    height: calc(100vh - 280px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;

    button {
        width: 200px;
        margin-top: 8px;
    }
}

.icon {
    width: 60px;
}